
<!doctype html>
<html lang="en" >
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.rtl.min.css" integrity="sha384-WJUUqfoMmnfkBLne5uxXj+na/c7sesSJ32gI7GfCk4zO4GthUKhSEGyvQ839BC51" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <title>Fake News Detection</title>
    <script>
      function retainValue() {
        if (sessionStorage.inputValue) {
          document.getElementById("news").value = sessionStorage.inputValue;
        }
      }
      function saveValue() {
        sessionStorage.inputValue = document.getElementById("news").value;
      }
    </script>
  </head>
  <body onload="retainValue()">
    <header class="text-gray-600 body-font -my-9">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img src="static/logo.jpeg" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full">
            
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Fake News Detection</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <a href="/" class="mr-5 hover:text-gray-900">Home</a>
            <a href="/Admin login" class="mr-5 hover:text-gray-900">Admin login</a>
          </nav>
            </svg>
          </button>
        </div>
      </header>
      <section class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
          <div class="text-center lg:w-2/3 w-full">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Fake News detection</h1>
            <p class="leading-relaxed mb-8">there are many fake news, our site helps you to find out the correct news on Twitter click on the button below </p>
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Fake News Detection</h1>
            <div class="center">
              <form action="{{url_for('prediction')}}"  method="POST" onsubmit="saveValue()">
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Enter news headlines</label>
                  <input type="hidden" name="user_id" value="{{ user_id }}">
                  <input type="text" class="form-control" id="news" name="news" aria-describedby="emailHelp" height="200" width="20" value="{{ news }}">
                  
              
                </div>
            <button type="submit" name="submit" class="inline-flex text-white bg-yellow-500 border-0 py-2 px-6 focus:outline-none hover:bg-yellow-600 rounded text-lg">Verify</button>
            </form>
            
            <br><p name='prediction' class="text-primary"><b>{{prediction_text}}</b></p>
            <input type="hidden" id="prediction" name="predict" value="{{prediction_text}}">
            </div>
          </div>
        </div>
        <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
          <img class="object-cover object-center rounded" alt="hero" src="static\image.svg">
        </div>
      </section>
      

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
      <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}"></script>   
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    -->
  </body>
</html>
